<div class="card">
  <div class="card-header">
    <%= "Todo##{@todo.id}" %>
  </div>
  <div class="card-body">
    <h4 class="card-title"><%= @todo.description %></h4>
    <p class="card-text"><%= @status %></p>
    <%= link_to 'Volver', todos_path, class:'btn btn-info' %>
  </div>
</div>
